all-gd.txt
ambig.txt
apertium-toinsert.txt
comhshuite.pot
cuardach.txt
focloir.txt.bak
fullstem.txt
fullstem-nomutate.txt
GA.txt
ga2gd.pot
GD.txt
gd2ga.pot
multi-gd.txt
neamhrialta.pot
pairs-gd.txt
speling-ga.txt
